head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width,initial-scale=1')

  if title
    title= title
  else
    title= pkg.name
  char
  meta(name='description', content=pkg.description)

  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
  link(href='//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', rel='stylesheet')
  link(rel='stylesheet', href='/css/app.css')
  script(src='pouchdb.min.js')
  script(type='text/javascript', src='https://www.gstatic.com/charts/loader.js')
  //- script(type='text/javascript', src='/js/drawGeoChart.js')
  if chartArrayData
    script(type='text/javascript').

      var chartArrayData = !{JSON.stringify(chartArrayData)}
    script(type='text/javascript', src='/js/drawGeoChart.js')
  if aggregateData
    script(type='text/javascript').
      var aggregateData = !{JSON.stringify(aggregateData)}
    script(type='text/javascript' src='/js/drawActiveIPChart.js')
  if trendData
    script(type='text/javascript').
      var trendData = !{JSON.stringify(trendData)}
    script(type='text/javascript' src='/js/drawTrendChart.js')
  else 
    script(type='text/javascript', src='/js/clientPouch.js')


