.header.clearfix
  nav
    ul.nav.nav-pills.pull-right
      li.active(role='presentation')
        a(href='/') Home
      li.active(role='presentation')
        a(href='/percountry') Per Country
      li.active(role='presentation')
        a(href='/activeips') Active IPs
      li.active(role='presentation')
        a(href='/trends') Trend
      li.active(role='presentation')
        a(href='/perctry') With PouchDb
  h3.text-muted Statistics
